{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Portfolio Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS =====
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}"> -->

        <!-- ===== BOOTSTRAP STYLES ===== -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.1.3-dist\css\bootstrap.min.css' %}" >
        
        <!--- ===== FONTAWESOME ===== --->
        <script src="https://kit.fontawesome.com/03fee5fc61.js" crossorigin="anonymous"></script>

        <!-- ===== JS ===== -->
        <script type="text/javasript" src="{% static 'bootstrap-5.1.3-dist\js\bootstrap.min.js' %}"></script>


        <!--- ===== CUSTOM STYLES ===== --->

        <!--- Put playlist at bottom of screen --->
        <style>
            #Iframe {
                position: absolute;
                left: 0px;
                bottom: 0px;
                margin: 0px;
            }
        </style>

        <!--- Create Sidebar Mechanic --->

        <div class="align-items-center d-flex">
            <div class="flex-shrink-1">
                <a href="#" class="d-flex align-items-center col-lg-4 link-dark text-decoration-none">
                    <i class="bi bi-bootstrap fs-2 text-dark"></i>
                </a>
            </div>
        </div>

    </head>
    <body>

        <!--- FULL DISPLAY --->
        <div>

            <!--- MAIN AREA --->
            <div>

                <!--- SIDE BAR --->
                <div>
            
                    <!--- TOP HALF --->
                    <div>
                
                        <!--- LOGO --->
                        <div>
                    
                        </div> 

                        <!--- NAVIGATION SHORTCUTS --->
                        <div>

                            <!--- HOME LINK --->
                            <a >

                            </a>

                            <!--- ABOUT LINK --->
                            <a >

                            </a>

                            <!--- SKILLS LINK --->
                            <a >

                            </a>

                            <!--- BUCKET LISTS LINK --->
                            <a >

                            </a>

                            <!--- CONTACT LINK --->
                            <a >

                            </a>

                        </div> 

                    </div>

                    <!--- BOTTOM HALF --->
                    <div>
                
                        <!--- CONTENT BROWSING --->
                        <div>
                    
                            <!--- LOOP THROUGH FOLDERS AND HITS --->
                            <a >

                            </a>

                        </div> 

                        <!--- SCROLL BAR --->
                        <a >

                        </a>

                    </div> 

                </div> 

                <!--- PAGE DISPLAY --->
                <div>
            
                </div> 
                
            </div>

            <!--- EMBEDDED PLAYLIST --->
            <div>

            </div>

        </div>

    </body>
</html>